<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242217690971-h9mmq30b7mnmgd0833lojl9u9cihm1g0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242217690971-h9mmq30b7mnmgd0833lojl9u9cihm1g0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>242217690971-d0gldr7k767h7p869fclqb30dvoar0lm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwz7NnfUI95t-mWs3BvONguE_tDigyICs</string>
	<key>GCM_SENDER_ID</key>
	<string>242217690971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayushman.vanViharQuiz</string>
	<key>PROJECT_ID</key>
	<string>van-vihar-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>van-vihar-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242217690971:ios:686bf35f99d4a9b6995c7e</string>
</dict>
</plist>